{% extends "base.html" %}
{% block content %}
    <div>
        <form action="{{ url_for('account_pages.login') }}" method="post">
            <b>Username</b>
            <input type="text" name="username" value="{{ username }}"/>
            <b>Password</b>
            <input type="password" name="password" />
            <br>
            <input type="submit" value="login" />
        </form>
    </div>
    <div>
        Don't have an account? <a href="{{ url_for('account_pages.viewregister') }}">Create one!</a>
    </div>
{% endblock %}
