{% extends "base.html" %}
{% block content %}
    <div class="section">
        <h2>Register New Account</h2>
        <section>
            <form action="{{ url_for('account_pages.register') }}" method=post>
                <h2>Card information</h2>
                <div class="fields">
                    <div class="field half">
                        <input type="text" name="card_number" value="{{ card_number }}" placeholder="Card Number" />
                    </div>
                    <div class="field half">
                        <input type="password" name="pin" placeholder="PIN" />
                    </div>
                </div>
                <h2>User Information</h2>
                <div class="fields">
                    <div class="field">
                        <input type="text" name="username" value="{{ username }}" placeholder="Desired Username" />
                        <br>
                        <input type="text" name="email" value="{{ email }}" placeholder="Email Address (used for password and pin resetting)" />
                        <br>
                        <input type="password" name="password1" placeholder="Password" />
                        <input type="password" name="password2" placeholder="Re-enter password" />
                    </div>
                </div>
                <input type="submit" value="create account" class="primary" />
                <input type="button" value="Go Back" onclick="history.back()" />
            </form>
        </section>
    </div>
{% endblock %}
