<html>
    <head>
		{% if title %}
		<title>{{ title }}</title>
		{% endif %}
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}" /> -->
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='color.css') }}" /> -->
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}" /> -->
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='section.css') }}" /> -->
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}" /> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-confirm.css') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="{{ url_for('static', filename='chart.bundle.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='date.format.min.js') }}"></script>
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='jquery.touchSwipe.min.js') }}"></script> -->
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='tinynav.js') }}"></script> -->
        <script type="text/javascript" src="{{ url_for('static', filename='react.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='react-dom.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='ajax.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='messages.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='history.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='regions.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='iidx-options.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='ddr-options.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='link.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='merge.js') }}"></script>

        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='skel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='util.js') }}"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery-confirm.js') }}"></script>

        {% for entry in components %}
        <script type="text/javascript" src="{{ url_for('jsx', filename=entry) }}"></script>
        {% endfor %}
        <script type="text/javascript">
            window.floaterrors = function(skipheightadjust) {
                if($(this).scrollTop()>$('div.messages-anchor').position().top){
                    if (!window.floated) {
                        var width = $('div.messages').width();
                        var height = $('div.messages').height();
                        if (height > 0) {
                            $('div.messages').css({position:'fixed',top:0, width: width,'z-index': 1,background: '#ebebeb'});
                            if (skipheightadjust) {
                                $('div.messages-anchor').css({height: ''});
                            } else {
                                $('div.messages-anchor').css({height: height});
                            }
                            window.floated = true;
                        }
                    }
                } else {
                    $('div.messages').css({position:'', width: '', top: '', background: ''});
                    $('div.messages-anchor').css({height: ''});
                    window.floated = false;
                }
            };
            $(window).scroll(function() { window.floaterrors(false); });
            $(document).on('click', 'div.close', function(event) {
                $(event.target).parent().hide();
                if (window.floated) {
                    var height = $('div.messages').height();
                    if (height > 0) {
                        $('div.messages-anchor').css({height: height + 10});
                    } else {
                        $('div.messages-anchor').css({height: ''});
                    }
                }
            });
        </script>
        <script type="text/javascript">
            window.uris = {};
            {% if links is defined %}
                {% for name, link in links.items() %}
                    window.uris[{{name|tojson|safe}}] = {{ link|tojson|safe }};
                {% endfor %}
            {% endif %}
            {% if inits is defined %}
                {% for name, val in inits.items() %}
                    window.{{name}} = {{ val|tojson|safe }};
                {% endfor %}
            {% endif %}
        </script>
        <script type="text/javascript">
            $(function () {
                if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                    $(".container").swipe(
                        {
                            swipeLeft: function(event) {
                                $("button.next").trigger("click");
                                event.preventDefault();
                            },
                            swipeRight: function(event) {
                                $("button.prev").trigger("click");
                                event.preventDefault();
                            },
                            threshold: 30,
                            fingers: 'all',
                        }
                    );
                }
            });
        </script>
        {% block scripts %}{% endblock %}

		
	</head>
	<body>
        <div id="wrapper">
            <!-- Header -->
            <header id="header">
                <div class="inner">

                    <!-- Logo -->
                    <p class="logo">
                        <span class="symbol">
                            <img alt src="{{ url_for('static', filename='favicon.png') }}"> </span>
                        <span class="title">{{ title }}</span>
                    </p>

                    <!-- Nav -->
                    <nav>
                        <ul>
                            <li>
                                <a href="#menu">Menu</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </header>

            {% if show_navigation %}
            <nav id="menu">
                <h2>Menu</h2>

                {% for entry in navigation %}
                <ul>
                    {% with uri = entry.get('uri') %}
                        {% with label = entry.get('label') %}
                            {% if label %}
                                {% if uri %}
                                <li>
                                    <a href="{{ entry['uri'] }}">
                                        {{ entry['label'] }}
                                    </a>
                                </li>
                                {% else %}
                                    <b>{{ entry['label'] }}</b>
                                {% endif %}
                            {% endif %}
                        {% endwith %}
                    {% endwith %}
                    {% with subentries = entry.get('entries') %}
                        {% if subentries %}
                            {% for subentry in subentries %}
                            <li>
                                <a href="{{ subentry['uri'] }}">{{ subentry['label'] }}</a>
                            </li>
                            {% endfor %}
                            <hr>
                        {% endif %}
                    {% endwith %}
                </ul>
            {% endfor %}  
            </nav>
            {% endif %}
            
            <div id="main">
                <div class="inner">
                    <div class="messages-anchor">
                        <div class="messages">
                            <p>
                                <ul class="alt messages">
                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                        {% if messages %}
                                            {% for category, message in messages %}
                                            <li class="{{ category }}">
                                                {{ category }} : {{ message }}
                                                <div style="margin-left: 1em" class="close">&#10005;</div>
                                            </li>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </ul>
                            </p>
                        </div>
                    </div>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
	</body>
</html>
